body {
  background-color: white;
  font-family:  Ebrima;
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  text-decoration: none;
  cursor: pointer;}
a:hover {
  color: #99badd;
  text-decoration: underline;}
  
  
/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  border-collapse: collapse;
}
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Fonts 
-------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #000000,  #000000,  #000000,  #FFFFFF,  #FFFFFF, #FFFFFF;
}


/* hide undo-redo button*/
._dash-undo-redo {
  display: none;
}
